:host {
	flex: 0 0 30%;
	border-left: 1px solid #ccc;
	padding-left: 10px;
	background: black;
	color: white;
}

.container {
	overflow: scroll;
	height: 100%;
}

.fa-trash-alt {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
