.card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80px;
	width: 100px;
}

.card-container:hover card-creation-actions {
	opacity: 1;
	visibility: visible;
}

.card-container:hover .events {
	opacity: 1;
	visibility: visible;
}

.events {
	visibility: hidden;
	opacity: 0;
	margin: 3px;
}

.card-creation-actions {
	visibility: hidden;
	opacity: 0;
	height: 20px;
	transition: all 0.3s;
}

.card-container:hover {
	transition: all 0.15s;
	transform: scale(1.4);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.card-container:hover .title {
	transition: all 0.15s;
	transform: scale(0.51);
}

.card-container:hover .card-creation-actions {
	transition: all 0.15s;
	/*transform: scale(0.51);*/
}

regular-card {
	margin-right: 10px;
}

onpush-card {
	margin-right: 10px;
}

regular-card:last-of-type {
	margin-right: 0;
}

onpush-card:last-of-type {
	margin-right: 0;
}

.have-at-least-one-child {
	padding-bottom: 10px;
}

.cards-container {
	display: flex;
	margin-top: 50px;
	justify-content: space-around;
	position: relative;
}
